.button {
  color: var(--black);
  background-color: transparent;
  border-color: var(--dark-red);
  border-style: solid;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
  text-align: center;
  font-family: var(--header-font);
  font-size: var(--title-font-size);
  font-weight: bolder;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 50%;
}

.button:hover {
  background-color: var(--dark-red);
  color:var(--white);
}

.button:active {
  background-color: var(--dark-red);
  color:var(--white);
  cursor: default;
}

.button--form {
  border-color: var(--black);
}

.button--form:hover {
  background-color: var(--black);
  color:var(--white);
}

.button--form:active {
  background-color: var(--dark-red);
  color:var(--white);
  cursor: default;
}
