.header {
  font-family: var(--header-font);
  font-size: var(--title-font-size);
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 20px;
}

.header__image {
  width: 20%;
}
