.hero {
  background: url(../../images/background-image.jpg);
  background-size: 100%;
}

.hero--section {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

.hero--section__title {
  font-family: var(--main-font-title);
  font-size: var(--title-main-size);
  font-style: oblique;
  color: var(--white);
  padding: 20px;
}
