.input {
  border-style: solid;
  border-radius: 10px;
  border-color: var(--dark-red);
  color: var(--black);
  width: 90%;
  height: 40px;
  margin: 20px;
  font-family: var(--font-base);
  font-weight: bolder;
  font-size: var(--font-size);
  text-align: center;
  outline: none;
}

.input:focus, .input--active:focus {
  border-color: var(--black);
}

.input--pressed {
  border-color: var(--black);
}

.input:disabled {
  opacity: 50%;
}

.input--error:invalid {
  border-color:var(--dark-red);
  background-color: var(--light-red);
  opacity: 50%;
}

.input--sucess:valid {
  border-color:var(--light-green);
  background-color: var(--dark-green);
  opacity: 50%;
}

.input-attention, .input:out-of-range {
  border-color:var(--yellow-1);
  background-color: var(--yellow-2);
  opacity: 50%;
}
