:root{
  /*colors*/
  --yellow-1: #ffe21d;
  --yellow-2: #ffd21d;
  --light-blue: #24afff;
  --dark-blue: #248bff;
  --light-red: #f26c6c;
  --dark-red: #ee3636;
  --light-green: #27b667;
  --dark-green: #00a74b;
  --black: #000000;
  --white: #ffffff;
  --pale-blue: #e6e9ee;

  /* FONTS */
  --header-font:'Quicksand', sans-serif;
  --body-font: 'Montserrat', sans-serif;
  --main-font-title: 'Anton', sans-serif;

  /* FONTS-SIZE */
  --font-size: 20px;
  --title-font-size: 30px;
  --title-main-size: 60px;
}




